.container{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.jumbotron {
  height: 700px;
  background: url("../images/assets/backgrounds/landing.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  margin-bottom: 0px;
  width: 100%;
}
h2{
  font-weight: bold;
  font-family: serif;
  font-style: normal;
}
.toogle{
  padding: 50px;
}
.logo{
  width: 300px;
  margin: 0 auto;
}
.text{
  color: #fff;
  margin: 20px auto;
  width: 400px;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  line-height: 0.3px;
}
.bold {
  font-weight: 700;
}
#ftop{
  margin-top: 0px;
}
.photo{
  background-color: #fff;
  border: 1px solid black;
  height: 210px;
  color: #fff;
  text-align: center;
}
.photo p{
  position: relative;
  top: 105px;
  font-family: serif;
  font-style: oblique;
  font-size: 25px
}
#pic{
  background: url("../images/assets/foodtop/breakfast.jpg");
}
#pic1{
  background: url("../images/assets/foodtop/lunch.jpg");
}
#pic2{
  background: url("../images/assets/foodtop/dinner.jpg");
}
#row-1{
  height: 105px;
  padding: 50px;
  text-align: center;
  color: #333;
}
#row-2{
  height: 105px;
  padding: 50px;
  text-align: center;
  color: #fff;
  background-color: #F15A29;
}
.ffood{
  padding-top: 5%;
  margin: 0 auto;
  width: 85%;
  font-size: 20px;
}
#young{
  text-align: left;
}
#jones{
  text-align: right;
}
#buff{
  background-color: #fff;
  color: #f15a29;
  font-size: 15px;
  border-radius: 4px;
  border-color: #f15a29;
  width: 200px;
}
.ffdr{
  border: 1px solid black;
  text-align:center;
  width: 72%;
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow: 0 0 5px #000;
}
.ff{
  padding: 50px 0px;
}
.door{
  padding: 70px 0px;
}
#lukaku{
  background: cover;
  height: 600px;
  background: url("../images/assets/backgrounds/foodsBg.jpg");
}
.curs{
  cursor: pointer;
}
.mata{
  background-color: white;
  height: 450px;
  margin: 77px 210px;
  padding: 55px;
}
.martial{
  height: 55px;
  border: 1px solid black;
  border-radius: 4px;
  border-width: 1px;
  color:  #f15a29;
}
#carrick{
  background-color: white;
  padding: 130px;
}
.custombout{
  border: 1px solid black;
  box-shadow: 0 0 5px #000;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
#hachu{
  height: 300px;
  background: cover;
  background: url("../images/assets/backgrounds/subscribe.jpg");
}
#subs{
  color: white;
  padding-top:120px;
  padding-bottom: 90px;
  float: right;
  padding-right: 38%;
}
input#email{
  color: black;
}
#email-input{
  color: #fff;
}
.butt{
  background-color: #f15a29;
  color: #fff;
  border-color: #F15A29;
  border-radius: 4px;
  border: 1px;
  font-size: 20px;
}
#footer{
  background-color: #f15a29;
  text-align: center;
}
#burger{
  color: white;
}
.btn btn-default{
  background-color: #fff;
  color: black;
  cursor: default;
}
